.landing {
    height: auto;
    padding: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: #3d3b30;
    color: whitesmoke;
    border-top: 1px solid #5c80bc;
    border-bottom: 1px solid #5c80bc;
    box-shadow: 0px 0px 20px 9px rgb(92 128 188 / 40%);
}