.pool {
  margin: 10px;
  background-color: #E9EDDE;
  border: 1px solid #5C80BC;
  display: flex;
  flex-direction: row;
  height: 7em;
  box-shadow: 4px 6px 10px rgb(0 0 0);
  transition: 0.3s;
}

.pool:hover {
  box-shadow: 10px 10px 10px rgb(0 0 0);

}

.pool-left {
  border-right: 1px solid #5c80bc;
  padding: 20px;
  width: 80%;
}

.pool-right {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.pool-box {
    transform:
      rotateX(51deg)
      rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition:
      .4s ease-in-out transform,
      .4s ease-in-out box-shadow;
}


.pool-box:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
.create-pool {
  display: flex;
  flex-direction: column;
}

.pool-info {
  background-color: #5C80BC;
  padding: 10px;
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 40%);
  overflow-x: hidden;
    text-overflow: ellipsis;
  font-size: small;
}

.create-pool-form {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-pools {
  justify-content: center;
}
