.App {
    /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); */
    height: 100vh;
    background-color: #4D5061;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accent-btn {
  background-color: #e7e247;
}

.btn {
  border-radius: 0;
}

.nav-pills {
  color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  text-decoration: underline !important;
  color: #e7e247;
  border: 0px;
  background-color: transparent;
}

.panel {
  box-shadow: -4px 1px 10px 5px rgb(0 0 0);
}